header{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.315);
    padding: 1rem;
}
span a{
    flex-direction: column;
    text-decoration: none;
    color: rgb(42, 46, 44);
    margin: 0 1rem;
    align-items: end;
}