<!-- <p>header works!</p>

<!-- one way binding 


<!-- interpolation 
<p>{{firstName}}</p>
<p>{{Age}}</p>
<p>{{currentDate}}</p>

<!-- proper binding 
<div><input type="text" [value]="firstName" class="form-control"></div>

<!-- two way data binding 

<input type="text" [(ngModel)]="firstName"/> -->


<header>
    <span><a href="http://" target="_blank" rel="noopener noreferrer">Home</a></span>
    <span><a href="http://" target="_blank" rel="noopener noreferrer">About</a></span>
    <span><a href="http://" target="_blank" rel="noopener noreferrer">Login</a></span>
    <span><a href="http://" target="_blank" rel="noopener noreferrer">Contact Us</a> </span>
</header>